<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header_text">
      <h1>春服</h1>
    </div>
  </header>
  <div class="images_wrapper">
    <div class="image_box">
      <%= image_tag 'assets/sample.jpg' %>
      <div class="detail_text">
        <p>色：白</p>
        <p>素材：</p>
        <p>ブランド：ユニクロ</p>
      </div>
    </div>
    <div class="image_box">
      <img src="" alt="">
      <div class="detail_text">
        <p>色：白</p>
        <p>素材：</p>
        <p>ブランド：ユニクロ</p>
      </div>
    </div>
  </div>
  <div class="images_wrapper">
    <div class="image_box">
      <img src="" alt="">
      <div class="detail_text">
        <p>色：白</p>
        <p>素材：</p>
        <p>ブランド：ユニクロ</p>
      </div>
    </div>
    <div class="image_box">
      <img src="" alt="">
      <div class="detail_text">
        <p>色：白</p>
        <p>素材：</p>
        <p>ブランド：ユニクロ</p>
      </div>
    </div>
  </div>
  <div class="images_wrapper">
    <div class="image_box">
      <img src="" alt="">
      <div class="detail_text">
        <p>色：白</p>
        <p>素材：</p>
        <p>ブランド：ユニクロ</p>
      </div>
    </div>
    <div class="image_box">
      <img src="" alt="">
      <div class="detail_text">
        <p>色：白</p>
        <p>素材：</p>
        <p>ブランド：ユニクロ</p>
      </div>
    </div>
  </div>


</body>
</html>
